#split {
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: stretch;
    display: flex;

    .side-panel {
        position: relative;
        background: var(--background);
        // display: flex;
        overflow: hidden;
        width: 100%;

        .icons {
            margin: auto;
            color: #ffffff10;
            // aspect-ratio: 720 / 1024;
            position: absolute;
            width: 720px;
            height: 1024px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .fa-gift {
                min-height: 300px;
                width: auto;
                height: 55%;
                bottom: 5%;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }

            .fa-wand-magic-sparkles {
                position: absolute;
                left: 5%;
                bottom: 60%;
                min-width: 344px;
                width: 52%;
                height: auto;
                transform: rotate(80deg);
            }
        }

        .title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 5rem;
            font-weight: 600;
            margin: 0;
            color: #ffffff;
            user-select: none;
        }
    }

    .main-panel {
        width: 100%;
        position: relative;
        padding: 2rem;
        overflow: hidden;

        .back {
            position: absolute;
            top: 1rem;
            left: 1rem;

            .fa-chevron-left {
                height: 2.5rem;
                width: auto;
                color: var(--button-green);
                transition: ease 0.5s;

                &:hover {
                    color: var(--blue);
                }
            }
        }

        .modal {
            font-size: 1.2rem;

            .barrel {

                max-width: 34rem;
                width: 100vw;

            }

            input {
                font-size: 1.2rem;

                &[type="submit"] {
                    color: white;
                }
            }

            row-gap: 2rem;

            .title {
                font-size: 2.1rem;
            }

            .inputs {
                row-gap: 0.5rem;
                margin-bottom: 2rem;
            }
            .additional-options {
                row-gap: 0.5rem;
            }
        }
    }
}


@media only screen and (max-width: 1048px) {

    #split {

        height: 100vh;
        flex-direction: column;

        .side-panel {

            padding: 1rem 0;
            display: flex;
            column-gap: 1rem;
            justify-content: center;

            .title {

                position: initial;
                transform: none;
                top: 0;
                left: 0;

            }

            .icons {

                position: initial;
                color: white;
                width: auto;
                height: auto;
                transform: none;
                left: 0;
                top: 0;
                margin: 0;

                .fa-wand-magic-sparkles {

                    display: none;

                }

                .fa-gift {

                    position: initial;
                    min-height: auto;
                    width: 5rem;
                    height: auto;
                    transform: none;
                    top: 0;
                    left: 0;

                }

            }

        }

        .main-panel {

            height: 100%;

        }

    }

}